body{
font-family: 'Hahmlet', serif;
color:#bf0029;
margin:20px;
}

/*** navbar ***/
.nav-item {
letter-spacing : .2em;
font-size : 14px;
text-transform :uppercase
}

.dropdown-item{
letter-spacing : .2em;
font-size : 14px;
text-transform : uppercase;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.my_footer{
color:grey;
height:60px;
}

.my_footer p{
padding-top:20px;
font-size:14px;
}

/*** category page ***/
.my_row_class{
padding-top:15;
}

.my_row_class mx_auto{
color:#000;
font-size:12px;
}

.my_image{
width:100%;
height:auto;
object-fit: cover;
}
my_title{
font-size:16px;
text-transform:uppercase
letter-spacing: .22em;
}

my_image_padding{
padding:5%;
}

.collection_style{
color:grey;
}


.my_bottom_margin{
margin-bottom:10px;
}

.card-body h4{
font-size:14px;
text-transform:uppercase
letter-spacing:0.2em
}

/*** product page ***/
.my_prod_row_class .mx_auto{
color:#000;
font-size:12px;
text-decoration:none;
}

.my_prod_title{
font-size:30px;
text_transform:uppercase;
letter-spacing:.2em;
padding-top:15px;
padding-bottom:10px;
}

.price_color{
color:#ede42d;
font-size:120%;
}

.my_prod_text{
padding
}
/*** search app ***/

.my_serch_text{
padding-top:20px;
}

/***Cart Page***/

.my_custom_table{
min-width:400px;
font-size:14px;
}

.my_custom_thead{
font-weight:normal;
text_transform:uppercase;
letter-spacing:.2em;
background-color:#f8f8fa!important;
}

.custom_a{
text-decoration:none;
}
.custom_icon{
text_decoration:none;
color:#868e96 !improtant;
}
.my_custom_button{
margin-top:5px;
}

.your_items{
background-color:black;
}
my_image_padding{
width:1000px;
height:500px;
}
.collections{
text-decoration:none;
}
.box{
border-style:solid;
border-color:#302f2f;
border-width:1px;
padding:1px 1px 1px;
font-size:17px;
width:120%;
height:100%;
}
.all_button{
padding:10px 10px;
}
.cart_icon{
color:white;
}
.sub_total{
color:white;
padding:75px 10px 10px;
font-weight:bold;
}
.home_button{
padding-bottom:.9125rem;
}
.total_price{
color:white;
}