{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        We have variety of products.
{% endblock %}

{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have search for :<b>"{{query}}"</b></p>
</div>

<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div class="my bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center bg-dark" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="40%" height="40%"></a>
                <div class="card-body"><br>
                    <h4>{{product.name}}</h4>
                    {% load humanize %}
                    <p>₹ {{ product.price|intcomma }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}